* {
    margin: auto;
    padding: 0;
    max-width: 1100px;
}

img {
    max-width: 100%;
}

body {
    background: url("../images/sanford.jpg") no-repeat center fixed;
    background-size: 100% 100%;
    text-align: center;
}

p {
    font-family: "Catamaran", sans-serif;
    font-size: 17px;;
}

h1, h2, h3 {
    font-family: "Staatliches", cursive;
}

h1 {
    text-align: center;
        
    background-color: black;
    padding: 10px;
    margin: 10px;
    
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
    border-width: 1px;

    grid-column: 1 / span 4;

}

h2 {
    padding: 10px;
}

main {
    display: grid;
    grid-gap: 10px;
    color: white;
}

section {
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
    border-width: 1px;
    
    background-color: black;
    padding: 10px;
    margin: 10px;
}

/* -------------Header----------------- */
header {
    background-color: rgb(188, 228, 128);
    color: black;
    padding: 10px;
    margin: 10px;
}

header img {
    max-width: 100%;
    max-height: 100%;
}

#flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#social_media {
    grid-column: 3;
}

#social_media a {
    display: inline-block;
    max-width: 20%;
    max-height: 25%;
}

/* ------------Navigation---------------- */
.navigation {
    list-style: none;
    background-color: yellow;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
    padding: 10px;
    margin: 0 10px 0 10px;
}

.responsive {
    position: relative;
    height: 50px;
}

.responsive li {
    display: block;
    height: 75px;
    background-color: yellow;
    margin: auto;
    width: 500px;
    text-align: center;
}

a:link {
    font-size: 17px;
    text-decoration: none;
    color: black;
    padding: 3px;
    display: block;
}

a:visited {
    color: rgb(15, 11, 248);
}

a:hover {
    color: red;
    background-color: rgb(188, 228, 128);
}

.date {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.meeting {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

/*---------------- footer ------------------*/
footer {
    display: grid;
    grid-gap: 10px;
    text-align: center;
    background-color: rgb(188, 228, 128);
    margin: 10px;
    padding: 5px;
}

footer img {
    max-width: 100%;
    max-height: 100%;
}

/* ----------------Home Page-------------------- */

/* --------hero section---------- */
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.hero div {
    grid-column: span 2;
    text-align: center;
}

.hero div p {
    padding: 5px;
}

.hero a {
    color: white;
}

.hero a:hover {
    color: red;
}

.hero img {
    max-width: 100%;
}

/* --------weather section------ */
.weather {
    text-align: center;
}

#weathertype {
    font-size: 15px;
}

.wgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    align-items: center;
}

.wgrid p {
    margin: 5px;
}

.current {
    font-size: 20px;
}

.wgrid span {
    grid-column: 2;
}

.hilo, .hilonum {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 7px;
}

.weather a {
    color: white;
    grid-column: 1 / span 2;
}
.weather a:hover {
    color: red;
}

/* ----news section ---------- */
.news {
    text-align: center;
}

/* -----events section------ */
.events {
    text-align: center;
}

/* -----join section----- */
.join {
    text-align: center;
    display: grid;
}
.join p {
    padding: 5px;
}

.join a {
    color: white;
}

.join a:hover {
    color: red;
}

.join div {
    display:block;
}

/* -----spotlight sections----- */
.spotlight1 {
    display: grid;
    text-align: center;
}

.spotlight1 p {
    padding: 5px;
}

.spotlight2 {
    display: grid;
    text-align: center;
}

.spotlight2 p {
    padding: 5px;
}

.contact {
    border-top: 1px solid white;
}

/* --------------------Discover Page--------------- */

/* -----demographics----- */
.demographics {
    grid-column: 1 / span 4;

    text-align: center;
}
.demographics p {
    padding: 5px;
}

.dstats {
    color: black;
    background-color: rgb(188, 228, 128);
    padding: 5px;

    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.demographics span {
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;

    border-style: solid;
    border-color: black;
    box-sizing: border-box;
    border-width: 1px;
}

/* -----picture gallery----- */
.gallery1 {
    grid-column: 1 / span 4;
}

.gallery2 {
    grid-column: 1 / span 4;
}

picture img {
    max-width: 100%;
    max-height: 100%;
}

.visitbox {
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
    border-width: 1px;
    
    background-color: black;
    padding: 10px;
    margin: 10px;
    text-align: center;

    grid-column: 1 / span 4;
}

    
/* --------------------Join Page-------------- */
form {
    grid-column: 1 / span 4;
    width: 100%;
}

fieldset {
    border: none;
    padding: 10px;
}

label.text {
    display: block;
    padding-top: 10px;
}
.text input {
    padding: 5px;
    width: 95%;
    background-color:antiquewhite;
}

.text input:required, textarea:required {
    border-left: red solid 6px;
}
.text input:required:valid, textarea:required:valid {
    border-left: green solid 6px;
}

textarea {
    padding: 5px;
    width: 95%;
    background-color:antiquewhite;
}

.member {
    display: block;
    padding: 10px;

    grid-column: 1;
}


.membership p {
    font-size: 15px;
    font-style: italic;
}

.submit {
    text-align: center;
}
.button {
    justify-self: center;
    padding: 5px;
}

.thanks {
    grid-column: 1 / span 4;
    text-align: center;
}


.member {
    font-size: 22px;
}

/* --------------Directory Page------------- */
#directory {
    grid-column: 1 / span 4;
    text-align: center;
}

#directory a{
    color: white;
}

#directory a:hover{
    color: red;
}

#buttons {
    grid-column: 1 / span 4;
    padding: 10px;

    display: grid;
    grid-gap: 10px;
}

#gridview {
    padding: 10px;
    font-size: 20px;
}

#listview {
    padding: 10px;
    font-size: 20px;
}

.directorygridview{    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 5px;

    max-width: 100%;
}

.directorylistview {
    display: block;
}

.directorylistview section {
    display: flex;
    max-width: 100%;
}
.directorylistview img {
    display: none;
}


/* -------Contact Page--------------------- */
.contactimg {
    grid-row: 4;
}

.contactform {
    text-align: left;
}
.contactform p {
    text-align: center;
}
