@media (min-width: 60em) {


    nav {
        grid-column: 2 / span 2;
        grid-row: 1;
    }

    #social_media {
        grid-column: 4;
    }
    
    .navigation li {
        display: inline-block;
        padding: 10px;
        margin: 0 10px 0 10px;
    }

    .navigation li:first-child {
        display: none;
    }

    .date {
        font-size: 20px;
    }
    
    .meeting {
        font-size: 17px;
    }

    h1 {
        text-align: center;
        
        grid-column: 1 / span 4;
        
    }

    h2 {
        text-align: center;
    }


    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        color: white;
    }

    .events {
        grid-column: 1;
        grid-row: 2 / span 2;
    }

    .hero {
        grid-column: 2 / span 2;
        grid-row: 2 / span 4;
    }

    .hero div {
        grid-column: span 2;
        text-align: center;
    }

    .hero div p {
        padding: 5px;
    }

    .hero a {
        color: white;
        border-style: none solid none solid;
        border-color: white;
        box-sizing: border-box;
        border-width: 1px;
    }

    .hero a:hover {
        color: red;
    }

    .hero img {
        max-width: 100%;
    }

    .spotlight1 {
        grid-column: 4;
        grid-row: 2 / span 3;
    }

    .spotlight2 {
        grid-column: 4;
        grid-row: 5 / span 3;
    }

    .weather {
        grid-column: 1;
        grid-row: 4 / span 2;
    }


    .join {
        grid-column: 1;
        grid-row: 6 / span 2;
    }

    .news {
        grid-column: 2 / span 2;
        grid-row: 6 / span 2;
    }
}